<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DAM.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <userSettings>
    <DAM.AppSettings>
      <setting name="setAccountDir" serializeAs="String">
        <value/>
      </setting>
      <setting name="setIonCrossDir" serializeAs="String">
        <value/>
      </setting>
      <setting name="setWriteEncryptedFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="setFLHookIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="setFLHookPort" serializeAs="String">
        <value>1919</value>
      </setting>
      <setting name="setFLHookPassword" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="setFLDir" serializeAs="String">
        <value/>
      </setting>
      <setting name="setCheckChangedOnly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="setFLHookUnicode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="setDaysToDeleteInactiveChars" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="setSecsToDeleteUninterestedChars" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="setAutomaticCharWipe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="setAutomaticCharClean" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="setStatisticsDir" serializeAs="String">
        <value>C:\web\stats</value>
      </setting>
      <setting name="setStatsFactions" serializeAs="String">
        <value/>
      </setting>
      <setting name="setCheckDefaultEngine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="setCheckDefaultPowerPlant" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="setReportVisitErrors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="setAutomaticFixErrors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="setDebug" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="setCheckDefaultLights" serializeAs="String">
        <value>False</value>
      </setting>
    </DAM.AppSettings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  
</configuration>
